<section>
  <h2 class="seven__title" style="text-align: center;">Section Title</h2>
  <ul class="seven__list" style="display: flex; list-style: none;">
    <li class="seven__item">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam enim facere
      dolor repellat qui maiores eos quis, magni temporibus modi consequatur
      assumenda, dicta eaque totam! Aliquam est nobis eum dolore?
    </li>
    <li class="seven__item">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id ducimus
      laudantium perferendis, ex accusantium explicabo ab sequi, quos,
      necessitatibus quod provident minus officiis architecto officia.
    </li>
    <li class="seven__item">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
      fugiat eaque quaerat eveniet ex! Perspiciatis esse debitis, dolorum illo
      labore iste dolores doloribus voluptatibus blanditiis sunt tempore ea.
      Fugit, ratione.
    </li>
  </ul>
  <p class="section__footer" style="margin-top: 20px;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio cumque
    laborum pariatur consectetur! Provident, obcaecati est soluta voluptates
    ipsam dolor repudiandae facilis omnis possimus qui reprehenderit tempore,
    deleniti ipsum laudantium doloribus libero! Error necessitatibus, accusamus
    provident deserunt enim totam optio?
  </p>
</section>
