<ul class="social-list">
            <li class="social-list__item">
              <a
                class="social-list__link footer__social-link"
                href="#"
                target="_blank"
                rel="noreferrer noopener"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a
                class="social-list__link footer__social-link"
                href="#"
                target="_blank"
                rel="noreferrer noopener"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a
                class="social-list__link footer__social-link"
                href="#"
                target="_blank"
                rel="noreferrer noopener"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="social-list__item">
              <a
                class="social-list__link footer__social-link"
                href="#"
                target="_blank"
                rel="noreferrer noopener"
                ><svg class="social-list__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>